/* #region Common */
*
{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Open Sans", sans-serif;
    font-optical-sizing: auto;
}

body
{
    min-width: 1440px;
}

img
{
    width: 100%;
}

ul
{
    gap: 2rem;
}

li
{
    list-style-type: none;
}

h1
{
    font-size: 65px;
    text-align: left;
    padding: 3rem 0;
}

h2
{
    font-size: 3rem;
    padding: 3rem 0;
}

h3
{
    font-size: 2.5rem;
}

h4
{
    font-size: 2rem;
}

h5
{
    font-size: 1.5rem;
}

h6
{
    font-size: 1rem;
}

[type=checkbox]
{
    width: 1.3em;
    height: 1.3em;
    background-color: white;
    border-radius: 50%;
    vertical-align: middle;
    border: 1px solid #ddd;
    appearance: none;
    -webkit-appearance: none;
    outline: none;
    cursor: pointer;
    margin: 2rem 0;
}

[type=checkbox]:checked
{
    background-color: var(--drop-light);
    border: 4px solid var(--drop-primary)
}
/* #endregion Common */

/* #region Utilities */
:root
{
    --drop-dark: black;
    --drop-light: white;
    --drop-primary: #0061ffFF;
    --drop-secondary: #b4d0e7FF;
}

.container_55
{
    width: 55%;
    margin: auto;
    max-width: 1900px;
    align-items: center;
}

.container_65
{
    width: 65%;
    margin: auto;
    max-width: 1900px;
}

.container_flex 
{
    display: flex;
}

.col
{
    flex-direction: column;
}

.gap
{
    gap: 1rem;
}

.space_b
{
    justify-content: space-between;
}

.align_c
{
    align-items: center;
}

.flex_start
{
    align-items: flex-start;
}

.button
{
    background-color: var(--drop-primary);
    border-style: none;
    padding: 0.5rem 1rem;
    color: var(--drop-light);
    cursor: pointer;
    text-decoration: none;
    text-align: center;
    max-width: 250px;
    display: inline-block;
    white-space: nowrap;
}

.btn_max_w
{
    max-width: 250px;
    margin: 3rem 0;
    text-decoration: none;
    white-space: nowrap;
}

.btn_mid
{
    background-color: var(--drop-primary);
    border-style: none;
    padding: 0.5rem 0.75rem;
    color: var(--drop-light);
    cursor: pointer;
    text-decoration: none;
    text-align: center;
    white-space: nowrap;
}

.button_w
{
    background-color: var(--drop-light);
    padding: 0.5rem 2rem;
    color: var(--drop-dark);
    cursor: pointer;
    text-decoration: none;
    border: 1px solid var(--drop-dark);
    white-space: nowrap;
}

.btn_white {
    background-color: var(--drop-light);
    border-style: none;
    padding: 0.5rem 2rem;
    color: var(--drop-dark);
    cursor: pointer;
    text-decoration: none;
    display: inline-block;
    white-space: nowrap;
}

.little_hr
{
    width: 3rem;
}

.border
{
    border-color: rgba(128, 128, 128, 0.418);
    border-style: solid;
    margin: 2px;
    border-width: 1px;
}

.wrap
{
    flex-wrap: wrap;
}

.spacing_big
{
    padding: 12rem 0;
}

.spacing_small
{
    padding: 2rem 0;
}

.livorno
{
    color:#440c18 ;
}

.color_1
{
    background-color: #a2d39bFF;
}

.color_2
{
    background-color: #61082bFF;
}

.color_3
{
    background-color: #0093ceFF;
}

.color_4
{
    background-color: #ff1c1cFF;
}

.color_5
{
    background-color: #d5001fFF;
}

.color_6
{
    background-color: #b4d0e7FF;
}

.color_7
{
    background-color: #0d2481FF;
}

.color_8
{
    background-color: #ffd830FF;
}

.color_big
{
    background-color: #f5f5f5FF;
}
/* #endregion Utilities */

/* #region Debug */
.debug #site_header
{
    height: 80px;
    background-color: red;
}

.debug #site_main
{
    height: 1500px;
    background-color: green;
}

.debug #site_footer
{
    height: 600px;
    background-color: black;
}

/* #endregion Debug */

/* #region Header */
#site_header
{
    background-color: var(--drop-light);
    padding: 1rem 1rem;
    position: fixed;
    width: 100%;
}

li>a
{
    text-decoration: none;
    color: var(--drop-dark);
}

.price p:last-child
{
    color: grey;
}

/* #endregion Header */

/* #region Main */
#jumbo
{
    background-color: var(--drop-secondary);
    text-align: center;
    padding-top: 12rem;
}

#low_banner
{
    background-color: var(--drop-secondary);
    padding: 6rem 0;
}

.free_try
{
    flex-direction: column;
    /* gap: 2rem; */
    /* padding-bottom: 1rem; */
    flex-basis: 30%;
}

.free_try>p:first-child
{
    text-align: left;
}

.free_try :last-child
{
    align-self: flex-start;
    color: var(--drop-dark);
    font-size: 3rem;
    padding-top: 1rem;
}

.span
{
    text-align: left;
}

.img_jumbo
{
    flex-basis: 70%;
}

.img_jumbo>img
{
    margin-bottom: -5rem;
    margin-left: -1rem;
}

#scroll_down
{
    scroll-behavior: smooth;
}

#business
{
    background-color: var(--drop-light);
    padding-top: 12rem;
}

.card_33
{
    width: calc(100%/3);
    /* flex-direction: column; */
}

.how_many
{
    text-align: center;
    padding: 1rem 0;
}

.package_price
{
    /* flex-direction: column; */
    /* gap: 2rem; */
    padding: 2rem;
}

.team_icon
{
    text-align: center;
    padding: 1rem;
}

.team
{
    margin-top: 3rem;
}

.team_body
{
    padding: 2rem;
}

.team_body_left
{
    flex-direction: column;
    gap: 2rem;
    flex-basis: 80%;
    /* padding: 2rem; */
}

.team_body_right
{
    /* padding-top: 2rem; */
}

.partner
{
    padding: 3rem;
}

/* .partner>[type="button"]
{
    padding: 0.5rem 1rem;
    background-color: var(--drop-light);
} */

.pad
{
    padding-right: 3rem;
}

#low_banner>.container_flex
{
    padding: 3rem 0;
}

.bigger
{
    flex-basis: 70%;
    margin-top: -1rem;
}

.smaller
{
    flex-basis: 30%;
    padding-left: 4rem;
}

.big_block
{
    flex-basis: 33.33%;
}

.card_50
{
    width: 50%;
    padding: 4rem;
}

.card_50>img
{
    /* width: 200px; */
    /* padding: 4rem; */
    /* height: auto; */
    /* display: inline-block; */
    /* display: block; */
    /* margin: auto; */
    aspect-ratio: 1;
    /* text-align: center; */
    /* viewBox="0 0 100 100" */
    filter: invert(100%);
}

#designit .big_block:nth-child(2)
{
    /* justify-content: space-around; */
    gap: 4rem;
    padding: 3rem;
    
    & > img 
    {
        width: 55%;
    }
}

.price_top
{
    /* flex-basis: 50%; */
    /* height: 50%; */
    gap: 2rem;
    padding-bottom: 1rem;
}

.price_bottom
{
    /* flex-basis: 50%; */
    /* height: 50%; */
    gap: 1rem;
    padding-top: 2rem;
}

.price
{
    padding: 1rem 0;
}

.price>h5
{
    padding-bottom: 2rem;
}

.perfect_1 span:nth-child(4)
{
    margin-bottom: 1.4rem;
}

.prova
{
    /* position: absolute; */
    display: flex;
    justify-content: center;
    align-items: center;
}

.prova>img 
{
    aspect-ratio: auto;
}

/* #endregion Main */

/* #region Footer */

#site_footer
{
    background-color: var(--drop-dark);
    color: var(--drop-light);
}

.white_link
{
    color: var(--drop-light);
    text-decoration: none;
    font-size: 0.8rem;
}

.language
{
    margin-left: -5px;
}

/* #endregion Footer */

/* #region Transition */

.dropbtn
{
    background-color: var(--drop-light);
    color: var(--drop-dark);
    text-decoration: none;
}

.dropbtn:hover
{
    color: var(--drop-primary);
}

.drop_menu
{
    display: none;
    position: absolute;
    background-color: var(--drop-light);
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    z-index: 1;
}

.drop_menu a
{
    color: var(--drop-dark);
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

li:hover ul.drop_menu {
    display: block;
}

.card_50
{
    transition: box-shadow 300ms ease;
}

.card_50:hover
{
    box-shadow: inset 0 0 0 10px rgba(255, 255, 255, .5);
}

.button
{
    transition: 0.3s;
    &:hover,
    &:focus
    {
        border-color: var(--drop-secondary);
        color: var(--drop-dark);
    }
}

.button:hover,
.button:focus
{
    box-shadow: inset 0 0 0 2em var(--drop-secondary);
}

.btn_max_w
{
    transition: box-shadow 0.5s ease-in;

    &:hover,
    &:focus
    {
        border-color: var(--drop-dark);
        color: var(--drop-dark);
    }
}

.btn_max_w:hover,
.btn_max_w:focus
{
    box-shadow: inset 0 0 0 2em var(--drop-dark);
    color: var(--drop-primary);
}

.btn_mid
{
    transition: box-shadow 0.5s ease-in;

    &:hover,
    &:focus {
        border-color: var(--drop-dark);
        color: var(--drop-dark);
    }
}

.btn_mid:hover,
.btn_mid:focus
{
    box-shadow: inset 0 0 0 2em lightgrey;
    color: var(--drop-dark);
}

.button_w,.btn_white
{
    transition: box-shadow 0.6s ease;

    &:hover,
    &:focus {
        border-color: var(--drop-light);
        background-color: var(--drop-dark);
    }
}

.button_w:hover,
.button_w:focus,
.btn_white:hover,
.btn_white:focus
{
    box-shadow: inset 0 0 0 2em var(--drop-primary);
    color: var(--drop-light);
}

.hide
{
    display: none;
}

.ask_bar:hover .hide
{
    display: block;
    font-size: 2rem;
}

.ask_bar:hover .swap>i
{
    -webkit-transform: rotate(-180deg);
    -moz-transform: rotate(-180deg);
    -o-transform: rotate(-180deg);
    background-color: lightgrey;
}
/* #endregion Transition */