/* #region Common */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Open Sans", sans-serif;
    font-optical-sizing: auto;
}

li {
    list-style-type: none;
}

h1
{
    font-size: 65px;
    text-align: left;
}

/* #endregion Common */

/* #region Utilities */
:root {
    --drop-dark: black;
    --drop-light: white;
    --drop-primary: #0061ffFF;
    --drop-secondary: #b4d0e7FF;
}

.container_80 {
    width: 80%;
    margin: auto;
    max-width: 1900px;
}

.container_60 {
    width: 60%;
    margin: auto;
    max-width: 1900px;
}

.container_flex {
    display: flex;
}

.space_b {
    justify-content: space-between;
}

.button {
    background-color: var(--drop-primary);
    border-style: none;
    padding: 0.25rem 0.5rem;
    color: var(--drop-light);
}
/* #endregion Utilities */

/* #region Debug */
.debug #site_header {
    height: 80px;
    background-color: red;
}

.debug #site_main {
    height: 1500px;
    background-color: green;
}

.debug #site_footer {
    height: 600px;
    background-color: black;
}

/* #endregion Debug */

/* #region Header */
#site_header {
    background-color: var(--drop-light);
    padding: 2rem 1rem;
}

li>a {
    text-decoration: none;
    color: var(--drop-dark);
}

ul {
    gap: 2rem;
}

/* #endregion Header */

/* #region Main */
#jumbo {
    background-color: var(--drop-secondary);
    text-align: center;
}

.free_try>p:first-child
{
    text-align: left;
}

.free_try>span:last-child
{
    text-align: left;
}
/* #endregion Main */

/* #region Footer */

/* #endregion Footer */