/* #region Common */
*
{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Open Sans", sans-serif;
    font-optical-sizing: auto;
}

img
{
    width: 100%;
}

ul
{
    gap: 2rem;
}

li
{
    list-style-type: none;
}

h1
{
    font-size: 65px;
    text-align: left;
    padding: 3rem 0;
}

h2
{
    font-size: 3rem;
    padding: 3rem 0;
}

h3
{
    font-size: 2.5rem;
}

h4
{
    font-size: 2rem;
}

h5
{
    font-size: 1.5rem;
}

h6
{
    font-size: 1rem;
}

[type=checkbox]
{
    width: 1.3em;
    height: 1.3em;
    background-color: white;
    border-radius: 50%;
    vertical-align: middle;
    border: 1px solid #ddd;
    appearance: none;
    -webkit-appearance: none;
    outline: none;
    cursor: pointer;
    margin: 2rem 0;
}

[type=checkbox]:checked
{
    background-color: var(--drop-primary);
}
/* #endregion Common */

/* #region Utilities */
:root
{
    --drop-dark: black;
    --drop-light: white;
    --drop-primary: #0061ffFF;
    --drop-secondary: #b4d0e7FF;
}

.container_55
{
    width: 55%;
    margin: auto;
    max-width: 1900px;
    align-items: center;
}

.container_65
{
    width: 65%;
    margin: auto;
    max-width: 1900px;
}

.container_flex {
    display: flex;
}

.col
{
    flex-direction: column;
}

.gap
{
    gap: 1rem;
}

.space_b {
    justify-content: space-between;
}

.button {
    background-color: var(--drop-primary);
    border-style: none;
    padding: 0.5rem 1rem;
    color: var(--drop-light);
    cursor: pointer;
}

.button_w
{
    background-color: var(--drop-light);
    border-style: none;
    padding: 0.5rem 2rem;
    color: var(--drop-dark);
    cursor: pointer;
}

.max
{
    max-width: 12rem;
    margin: 3rem 0;
}

.little_hr
{
    width: 3rem;
}

.border
{
    border-color: rgba(128, 128, 128, 0.418);
    border-style: solid;
    margin: 2px;
    border-width: 1px;
}

.wrap
{
    flex-wrap: wrap;
}

.spacing_big
{
    padding-top: 12rem;
}

.livorno
{
    color:#440c18 ;
}
/* #endregion Utilities */

/* #region Debug */
.debug #site_header
{
    height: 80px;
    background-color: red;
}

.debug #site_main
{
    height: 1500px;
    background-color: green;
}

.debug #site_footer
{
    height: 600px;
    background-color: black;
}

/* #endregion Debug */

/* #region Header */
#site_header
{
    background-color: var(--drop-light);
    padding: 2rem 1rem;
}

li>a
{
    text-decoration: none;
    color: var(--drop-dark);
}



/* #endregion Header */

/* #region Main */
#jumbo
{
    background-color: var(--drop-secondary);
    text-align: center;
}

#low_banner
{
    background-color: var(--drop-secondary);
    padding: 6rem 0;
}

.free_try
{
    flex-direction: column;
    /* gap: 2rem; */
    /* padding-bottom: 1rem; */
    flex-basis: 30%;
}

.free_try>p:first-child
{
    text-align: left;
}

.free_try :last-child
{
    align-self: flex-start;
    color: var(--drop-dark);
    font-size: 3rem;
    padding-top: 1rem;
}

.span
{
    text-align: left;
}

.img_jumbo
{
    flex-basis: 70%;
}

.img_jumbo>img
{
    margin-bottom: -5rem;
    margin-left: -1rem;
}

.sborder{
    height: 100px;
    background-color: var(--drop-light);
}

#business
{
    background-color: var(--drop-light);
    padding-top: 3rem;
}

.card_33
{
    width: calc(100%/3);
    /* flex-direction: column; */
}

.how_many
{
    text-align: center;
    padding: 1rem 0;
}

.package_price
{
    flex-direction: column;
    gap: 2rem;
    padding: 2rem;
}

.team_icon
{
    text-align: center;
    padding: 1rem;
}

.team
{
    margin-top: 3rem;
}

.team_body_left
{
    flex-direction: column;
    gap: 2rem;
    flex-basis: 80%;
    padding: 2rem;
}

.team_body_right
{
    padding-top: 2rem;
}


.partner
{
    padding: 3rem;
}

.partner>[type="button"]
{
    padding: 0.5rem 1rem;
    background-color: var(--drop-light);
}

.pad
{
    padding-right: 3rem;
}

.bigger
{
    flex-basis: 80%;
}

/* #endregion Main */

/* #region Footer */

/* #endregion Footer */